.back-button{
    margin: 15px;
    text-align: center;
}
.back-button .btn-back{
    background-color: #c4007c2e;
    color: #c4007c;
    margin-top: -2px;
    border-radius: 12px;
    text-align: left;
}
.btn-back .iconify:hover .btn-back:hover{
    background-color: #c4007c;
    color: white;
}
.img-dftr{
    text-align: center;
    margin-top: 70px;
}
.img-dftr img{
    width: 100%;
    max-width: 497px;
    height: auto;
}
.btn-back .iconify {
    color: #c4007c;
    font-size: 25px;
}
.form-daftar{
    width: 90%;
}
.judul-daftar{
    color: #c4007c;
    font-family: "SF Pro Display";
    font-weight: bolder;
}

.judul-item{
    margin: auto 70px;
    color: black;
    opacity: 60%;
    font-family: "SF Pro Display";
}
.daftar input[type=text], input[type=password] {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: black;
    opacity: 70%;
}
    
#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: center;
}
#msform {
    margin: auto 30px;
    float: center;
}
#msform fieldset:not(:first-of-type) {
    display: none
}
.daftar{
    float: center;
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #dedede;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 2px;
    max-width: 335px;
    box-sizing: border-box;
    font-family: "SF Pro Display";
    color: #2C3E50;
    background-color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    float: center;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 100%;
    background: #c4007c;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: center
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #c4007c
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

#progressbar {
    overflow: hidden;
    color: lightgrey;
    text-align: center;
    max-width: 335px;
    margin-left: 130px;
}

#progressbar .active {
    color: #c4007c
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 15%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #daftar:before {
    font-family: "SF Pro Display";
    content: "1"
}

#progressbar #konfirmasi:before {
    font-family: "SF Pro Display";
    content: "2"
}

#progressbar #selesai:before {
    font-family: "SF Pro Display";
    content: "3"
}

#progressbar li:before {
    width: 25px;
    height: 25px;
    line-height: 22px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 15px auto 0 auto;
    padding: 1px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #c4007c
}

.daftar .kirim-kode{
    text-decoration: none;
    color: #c4007c;
    margin-right: 72px;
    text-align: right;
    margin-top: -15px;
}
.daftar .text-lainnya{
    text-decoration: none;
    color: #85717e;
    margin-left: 72px;
    text-align: left;
}
.custom-control{
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 2rem;
}
.info-proses{
    text-align: center;
}

@media (max-width: 576px){
    .daftar .kirim-kode{
        margin-right: 30px;
    }
    .daftar .text-lainnya{
        margin-left: 30px;
    }
    .img-dftr{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #progressbar{
        margin-left: 102px;
    }
}