.img-dftr {
    text-align: center;
    margin-top: 70px;
}
.img-dftr img {
    width: 100%;
    max-width: 497px;
    height: auto;
}
.btn-back .iconify {
    color: #c4007c;
    font-size: 25px;
}
.form-daftar {
    width: 90%;
}
.judul-daftar {
    color: #c4007c;
    font-family: "SF Pro Display";
    font-weight: bolder;
}

.judul-item {
    margin: 0 70px;
    color: black;
    line-height: 20px;
    opacity: 60%;
    font-family: "SF Pro Display";
}

#heading {
    text-transform: uppercase;
    color: #673ab7;
    font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
}

.form-card {
    text-align: center;
}
#msform {
    margin: auto 30px;
    float: center;
}
#msform fieldset:not(:first-of-type) {
    display: none;
}
.daftar {
    float: center;
}

#msform input {
    border: 1px solid #dedede;
    border-radius: 8px;
    margin: 10px auto;
    width: 80%;
    height: 47px;
}

#msform .action-button {
    width: 80%;
    background: #c4007c;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #c4007c;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

#progressbar {
    overflow: hidden;
    color: lightgrey;
    text-align: center;
    max-width: 335px;
    margin-left: 130px;
}

#progressbar .active {
    color: #c4007c;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 15%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #daftar:before {
    font-family: "SF Pro Display";
    content: "1";
}

#progressbar #konfirmasi:before {
    font-family: "SF Pro Display";
    content: "2";
}

#progressbar #selesai:before {
    font-family: "SF Pro Display";
    content: "3";
}

#progressbar li:before {
    width: 25px;
    height: 25px;
    line-height: 22px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 15px auto 0 auto;
    padding: 1px;
    position: relative;
    z-index: 2;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #c4007c;
}

.daftar a {
    text-decoration: none;
}
.daftar .kirim-kode {
    text-decoration: none;
    color: #c4007c;
    margin-right: 50px;
    text-align: right;
}
.daftar .text-lainnya {
    text-decoration: none;
    color: #85717e;
    margin-left: 72px;
    text-align: left;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 2rem;
}

.second-page,
.third-page {
    display: none;
}

@media (max-width: 576px) {
    .daftar .kirim-kode {
        margin-right: 30px;
    }
    .daftar .text-lainnya {
        margin-left: 30px;
    }

    .img-dftr {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #progressbar {
        margin-left: 102px;
    }
}
