.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* Etalase */

.header-etalse {
    border-top: 1px solid #ddd;
}
.btnhd a {
    text-decoration: none;
    color: #c4007c;
    font-family: "SF Pro Display";
    font-weight: bold;
    vertical-align: middle;
    border-radius: 10px;
}

.sortbtn {
    background-color: #c4007c2e;
    color: #c4007c;
}

.filter {
    background-color: #c4007c2e;
    color: #c4007c;
}

.produk a {
    text-decoration: none;
}
.card img {
    border-radius: 5px;
    height: 190px !important;
}

.card-body h6 {
    color: black;
    font-family: "SF Pro Display";
}
.card-body h5 {
    color: #c4007c;
    font-family: "SF Pro Display";
    font-weight: bold;
}
.card-body p {
    color: black;
    opacity: 47%;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.ngelink a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    float: right;
    color: #c4007c;
}

/* Footer */
.foter {
    background-color: #f6f6f8;
}

.footer-logo img {
    width: 120px;
}

.foter li {
    list-style: none;
}
.foter li a {
    text-decoration: none;
    color: #0000008a;
    opacity: 80%;
    font-family: "SF Pro Display";
}
.foter li a:hover {
    color: #c4007c;
}
.sub-title-foot {
    color: #0000008a;
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: "SF Pro Display";
    font-weight: bold;
}

p.akhir {
    color: #c4007c;
    opacity: 58%;
    margin-top: 20px;
    font-family: "SF Pro Display";
}
.foter .iconify {
    width: 40px;
    height: 40px;
    color: #000000;
}
