.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* kategori */

.sub-heading-section {
    font-family: "SF Display";
    font-size: 30px;
}
.btn-cat-section {
    width: 100%;
    color: #c4007c;
    font-family: "SF Display";
    text-align: left;
    border: 1px solid #c4007c33;
    border-radius: 10px;
}
.btn-cat-section:hover {
    background-color: rgba(196, 0, 124, 0.1);
    color: #c4007c;
    border: 1px solid rgb(196, 0, 124);
    border-radius: 10px;
}

.card.image-cat {
    border: none;
    margin: 10px 10px;
    height: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card.image-cat img {
    height: 100%;
}
.card.image-cat.pamflet {
    height: 120%;
    width: 120%;
    margin-top: -20px;
}

.image-cat ::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    bottom: 0;
}
.card-title {
    color: #fff;
    position: relative;
    font-weight: 800;
    font-family: "Poppins";
    left: 0;
    margin: auto 0;
    z-index: 2;
}
.card-title::before {
    content: "";
    background-color: transparent;
}
.card-title1 {
    color: #fff;
    font-weight: 800;
    font-family: "Poppins";
    left: 0;
}

#grad1 {
    background: transparent
        linear-gradient(150deg, #ff77f2d9 0%, #9801bbfc 100%) 0% 0% no-repeat
        padding-box;
    border-radius: 5px;
}
#grad2 {
    background: transparent
        linear-gradient(150deg, #bcf39ad9 0%, #00715cfc 100%) 0% 0% no-repeat
        padding-box;
    border-radius: 5px;
}

.btn-grad {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
}
.btn-grad:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #1a1818;
    width: 100%;
}

.polkadot {
    width: 90px;
    bottom: 337px;
    margin-left: 55px;
}

#polkadot {
    background-image: radial-gradient(white 20%, transparent 20%),
        radial-gradient(white 20%, transparent 20%),
        radial-gradient(white 20%, transparent 20%),
        radial-gradient(white 20%, transparent 20%);
    background-position: 0 0, 0px 15px, 15px 0px, 15px 15px;
    background-size: 30px 30px;
    height: 100px;
    width: 100%;
    opacity: 40%;
}
/* Etalase */

.btnhd a {
    text-decoration: none;
    color: #c4007c;
    font-family: "SF Pro Display";
    font-weight: bold;
    vertical-align: middle;
    border-radius: 10px;
}

.sortbtn {
    background-color: #c4007c2e;
    color: #c4007c;
}
.sortbtn:hover {
    background-color: #c4007c;
    color: #fff;
}

.produk a {
    text-decoration: none;
}
.card img {
    border-radius: 5px;
}
.produk-img {
    height: 180px;
}

.card-body h6 {
    color: black;
    font-family: "SF Pro Display";
}
.card-body h5 {
    color: #c4007c;
    font-family: "SF Pro Display";
    font-weight: bold;
}
.card-body p {
    color: black;
    opacity: 47%;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.ngelink a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    float: right;
    color: #c4007c;
}
/* Footer */
.foter {
    background-color: #f6f6f8;
}

.footer-logo img {
    width: 120px;
}

.foter li {
    list-style: none;
}
.foter li a {
    text-decoration: none;
    color: #0000008a;
    opacity: 80%;
    font-family: "SF Pro Display";
}
.foter li a:hover {
    color: #c4007c;
}
.sub-title-foot {
    color: #0000008a;
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: "SF Pro Display";
    font-weight: bold;
}

p.akhir {
    color: #c4007c;
    opacity: 58%;
    margin-top: 20px;
    font-family: "SF Pro Display";
}
.foter .iconify {
    width: 40px;
    height: 40px;
    color: #000000;
}

@media (min-width: 992px) {
    .card.image-cat {
        margin: 0;
    }
}
@media (max-width: 400px) {
    .polkadot {
        margin-right: 30px;
    }
}
